# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
!library/vendor/
!library/composer.json
library/vendor/google/apiclient-services/src
library/vendor/paragonie/random_compat/build-phar.sh
library/vendor/paragonie/random_compat/dist/random_compat.phar.pubkey.asc
library/vendor/google/auth/COPYING
library/vendor/phpseclib/phpseclib/phpseclib/openssl.cnf
library/vendor/paragonie/random_compat/dist/random_compat.phar.pubkey
!library/vendor/google/apiclient-services/src/Calendar
!library/vendor/google/apiclient-services/src/Calendar.php
